/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */

html { /* Smooths scroll when using nav links */
  scroll-behavior: smooth;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 .seo { /* Changes part of header name */
    color: #d9dcd6;
}

body {
    background-color: #d9dcd6;
}

nav { /* Nav panel at top right */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul { /* Formats list in header */
    list-style-type: none;
}

nav ul li { /* Makes list items display horizontally */
    display: inline-block;
    margin-left: 25px;
}

article { /* Formats main article box */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article img { /* Format 3 images in article */
    max-height: 200px;
}

aside { /* Formats main aside box */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside img { /* Format 3 images in aside */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 48px;
    
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
 
/* ID Selectors */

#introduction { /* Background image below nav bar */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); 
    background-size: cover;
    background-position: center;
}

/* Class Selectors */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.article-wrapper { /* Formats all boxes in article */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.aside-wrapper { /* Formats all boxes in aside */
    margin-bottom: 32px;
    color: #ffffff;
}

.footer h2 {
    font-size: 20px;
}
